.sectionHero {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.mainHero{
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
  flex: 1;
  text-align: center;
  background-image: url('../assets/img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.mainHero__content{
  width: 100%;
  background-color: var(--background-color);
}

.caroussel_container{
  width: 100%;
  height: clamp(20rem, 40vw, 40rem);
  overflow: hidden;
  position: relative;
}

.caroussel {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.6rem;
  transition: transform .5s ease-in-out;
  position: relative;
}

.card_caroussel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: 0;
}

.caroussel_ativo {
  opacity: 1;
  z-index: 1;
}

.card_caroussel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainHero__content h1{
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.mainHero__content p{
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
}

#prevBtnBanner, #nextBtnBanner{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3.2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: all .2s ease-in-out;
  background-color: var(--bg-color);
  display: flex;
  border: none;
  outline: none;
  z-index: 1;
  opacity: 0;
}

#nextBtnBanner{
  right: 0;
}

.caroussel:hover #prevBtnBanner, .caroussel:hover #nextBtnBanner{
  opacity: 1;
}

/* colecoes */
.colecoes{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.colecoes h2{
  margin: 2rem 0 0;
}

.cards-colecoes{
  display: flex;
  width: 100%;
  gap: 3rem;
  /* height: 20rem; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* padding: 0 5rem; */
}

.cards-colecoes .card, .sugestoes-container .card{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 2rem;
  transition: scale .3s ease-in-out;
}

.card:hover{
  scale: 1.05;
}

.cards-colecoes img{
  width: 13rem;
  border-radius: 10px;
}

.prevBtn, .nextBtn{
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  font-size: 3.2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: all .2s ease-in-out;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border-radius: 50%; */
  background-color: var(--bg-color);
  border: none;
  outline: none;
  z-index: 1;
  display: block;
}

.prevBtn{
  left: -2rem;
}

.nextBtn{
  right: -2rem;
}

/* sugestoes */
.sugestoes{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.sugestoes-container .card{
  padding: 1rem 3rem;
  border: 2px solid var(--line-color);
  border-radius: 10px;
}

/* novidades */

.novidades{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}

.section-novidades{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  /* gap: 1rem; */
  margin: 2rem auto;
}

.novidades .card{
  width: 25%;
  padding: 1rem;
  background-color: transparent;
}

.novidades .card img{
  width: 100%;
  border-radius: 10px;
}